body {
  background-color: black;
  color: lightgray;
  display: flex;
  flex-wrap: wrap;
  font-family: Baskerville;
  font-size: 18pt;
  margin: 0;
}

article {
  max-width: 70ch;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin-top: 0;
}

a {
  color: white;
}

nav {
  margin: 0;
  flex-grow: 1;
}

nav,
main {
  padding: 0.75em;
}

nav .active {
  background-color: #151515;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-list {
  list-style: none;
  padding: 0;
}

.page-list-date {
  display: block;
}

#TableOfContents > ul {
  margin: 0;
}

#TableOfContents ul {
  list-style: none;
}

.bg-color {
  background-color: black;
}

.stick-to-top {
  position: sticky;
  top: 0;
}

/* https://every-layout.dev/layouts/stack/ */
.stack > * + * {
  margin-top: 1.5rem;
}
