body {
  background-color: black;
  color: lightgray;
  display: flex;
  flex-wrap: wrap;
  font-family: Baskerville;
  font-size: 18pt;
  margin: 0;
}

main {
  flex-basis: 65ch;
  padding-left: 1em;
}

article {
  max-width: 70ch;
  line-height: 1.5;
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin-top: 0;
}

a {
  color: white;
}

nav {
  margin: 0;
}

header,
nav > ul {
  position: sticky;
  top: 0;
  padding-top: 2em;
}

nav .active {
  background-color: #151515;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-list {
  list-style: none;
  padding: 0;
}

.page-list-item {
  display: flex;
}

.page-list-date,
.page-link {
  color: white;
  padding: 0.5em;
}

#TableOfContents > ul {
  margin: 0;
}

#TableOfContents ul {
  list-style: none;
}

.bg-color {
  background-color: black;
}
