<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/site.css" media="all" />
  <link rel="stylesheet" href="/css/site-wide.css" media="screen and (min-width: 600px)" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

</head>
