<ul class="menu bg-color">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  {{ $menuIsCurrent := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)}}
  {{ if .HasChildren }}
  <li>
    <details {{ if $menuIsCurrent }}open{{end}}>
      <summary class="{{ if $menuIsCurrent }}active{{ end }}">
        <a href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </summary>

      <ul class="sub-menu">
        {{ range .Children }}
        {{ $childIsCurrent := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)}}
        <li class="{{ if $childIsCurrent }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>

    </details>
  </li>

  {{ else }}

  <li>
    <a href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
  </li>

  {{ end }}
  {{ end }}
</ul>
